.registered{

}
.registered{
	width: 274px;
	/* border: 1px solid red; */
	padding: 0;
}
.registered:after{
	content: "";
	display: block;
	clear: both;
}
.registered a{
	float: left;
	padding: 0 10px;
}
.registered  button{
	float: left;
}