.sBlock{
	width: 1000px;
	overflow: hidden;

}
.sBlock >div >h3{
	font-size: 18px;
	font-weight: bold;
}
.sBlock  .imgStyle{
	display: block;
	width: 300px;
	height: 300px;
	float: left;

}
.sBlock >div >p{
	font-size: 16px;
	color: #666;
}
.sBlock >div > footer{}
.sBlock >div > footer *{
	float: left;
	display: inline-block;
	margin: 0 10px ;
}
.sBlock >div >.sSource{
	float: right;
	margin: 0;

}
.sBlock >div >.sSource span{
	margin: 0 10px;
}